# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where 3rd-party dependencies like ExDoc output generated docs.
/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Temporary files, for example, from tests.
/tmp/

# Ignore package tarball (built via "mix hex.build").
elixihub-*.tar

# Ignore assets that are produced by build tools.
/priv/static/assets/

# Ignore digested assets cache.
/priv/static/cache_manifest.json

# In case you use Node.js/npm, you want to ignore these.
npm-debug.log
/assets/node_modules/

# Example apps build directories
/examples/agent_app/_build/
/examples/agent_app/deps/
/examples/agent_app/priv/static/assets/
/examples/agent_app/priv/static/cache_manifest.json
/examples/agent_app/assets/node_modules/
/examples/agent_app/*.tar

/examples/hello_world_app/_build/
/examples/hello_world_app/deps/
/examples/hello_world_app/priv/static/assets/
/examples/hello_world_app/priv/static/cache_manifest.json
/examples/hello_world_app/assets/node_modules/
/examples/hello_world_app/*.tar

/examples/task_manager/_build/
/examples/task_manager/deps/
/examples/task_manager/priv/static/assets/
/examples/task_manager/priv/static/cache_manifest.json
/examples/task_manager/assets/node_modules/
/examples/task_manager/*.tar
/examples/task_manager/erl_crash.dump
/examples/task_manager/build/

/examples/elixipath/_build/
/examples/elixipath/deps/
/examples/elixipath/priv/static/assets/
/examples/elixipath/priv/static/cache_manifest.json
/examples/elixipath/assets/node_modules/
/examples/elixipath/*.tar
/examples/elixipath/task_manager/erl_crash.dump
/examples/elixipath/task_manager/build/

# OS generated files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

